* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  display: flex;
  align-items: center;
  min-height: 90vh;
  font-family: sans-serif;
  background-color: aliceblue;
}

img {
  width: 100px;
  border-radius: 50%;
}

button {
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 1em;
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1),
    rgba(5, 105, 184, 1)
  );
  padding: 1em;
  width: 30%;
  float: right;
  margin: -15% -30%;
  color: whitesmoke;
  box-shadow: 0 5px 10px 0 gray;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(90deg, rgba(212, 43, 69, 0.555), rgb(28, 9, 9));
}

.kortele {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 30%;
  padding: 5em;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 5px 10px 0px gray;
}

div > a {
  display: flex;
  padding-top: 2em;
  text-decoration: none;
}

a:hover {
  text-decoration: underline black;
}
