* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}

.ikona {
  width: 100px;
  border-radius: 15%;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0;
  background-color: rgba(236, 174, 141, 0.485);
}

nav > ul {
  display: flex;
  gap: 2em;
}

li,
a {
  list-style-type: none;
  text-decoration: none;
  font-size: 1.15em;
  color: azure;
}

/* Antra skiltis */

.sekcijos-wrapas {
  width: 50%;
  padding-top: 4em;
  margin: 0 auto;
}

.push-away {
  padding: 3em;
}

h2,
p {
  padding-bottom: 2em;
}

.paveikslas {
  width: 30%;
  float: right;
}

/* antra skitlis */

.centruot {
  display: flex;
  padding: 2em 0;
  gap: 25px;
}

.table-style {
  border: 1px solid rgba(128, 128, 128, 0.599);
  border-radius: 15px;
}

.table-style,
td {
  border-bottom: 1px solid black;
  padding: 1em;
  width: 50%;
}

/* burbuliukai */

.artas {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 2em 0;
}

.artas img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid black;
}

/* Footer */

.special {
  margin: 10rem;
}

footer {
  text-align: center;
  padding: 2em 0;
  background-color: rgba(236, 174, 141, 0.485);
}

h1 {
  background-color: rgba(72, 255, 255, 0.545);
  padding: 2em 24%;
}

.spalva {
  background-color: rgba(72, 255, 255, 0.545);
}
