* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(19, 117, 202, 0.572);
}

header {
  min-width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: chartreuse;
  padding: 2em;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(24, 149, 149);
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  padding-left: 2em;
  transition: 0.5s all ease-in-out;
}

a:hover {
  color: blueviolet;
  font-weight: bold;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 2em 2em 0em 0em;
}

p {
  padding: 2em 2em 2em 0;
}

ul {
  padding-left: 5em;
}

img {
  width: 50%;
  float: left;
  padding-right: 2em;
}

button {
  padding: 1em;
  border: none;
  float: right;
  background-color: chartreuse;
  color: white;
  font-size: 1.2em;
  transition: 0.4s all ease-in-out;
}

button:hover {
  background-color: rebeccapurple;
  border-radius: 20% 10%;
}

footer {
  text-align: center;
  color: rgb(56, 89, 23);
}
